@model ElektraReport.Applications.DepremKayits.ViewModels.VM_Dashboard;

@if (Model == null)
{
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="far fa-flag"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Gösterilecek Kayıt Yok..</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>
}
else
{

<div class="row">
    <div class="col-12">
        <div class="info-box bg-gradient-dark">
            @*<span class="info-box-icon"><i class="far fa fa-building"></i></span>*@

            <div class="info-box-content">
                <span class="info-box-text text-center"></span>
                <div class="row text-center">
                    <div class="col-md-2 border-right">
                        <div class="description-block">
                            <span class="description-header"></span>
                            <h5 class="description-header">@Model.DepremDashboard.FirstOrDefault().Name</h5>

                        </div>

                    </div>
                    <!-- /.col -->
                    <div class="col-md-2">
                        <div class="description-block">
                            <span class="description-header text-success">Mevcut Oda</span>
                            <h5 class="description-header">@Model.DepremDashboard.Sum(x => x.MevcutOda).ToString()</h5>

                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-md-2 border-right">
                        <div class="description-block">
                            <span class="description-header text-danger">Çıkan Oda</span>
                            <h5 class="description-header">@Model.DepremDashboard.Sum(x => x.CikanOda).ToString()</h5>

                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                    <div class="col-md-2">
                        <div class="description-block">
                            <span class="description-header text-success">Mevcut Kişi</span>
                            <h5 class="description-header">@Model.DepremDashboard.Sum(x => x.MevcutKisi).ToString()</h5>

                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-md-2 border-right">
                        <div class="description-block">
                            <span class="description-header text-danger">Çıkan Kişi</span>
                            <h5 class="description-header">@Model.DepremDashboard.Sum(x => x.CikanKisi).ToString()</h5>

                        </div>
                        <!-- /.description-block -->
                    </div>
                    <div class="col-md-2">
                        <div class="description-block">
                            <span class="description-header">Toplam Kişi</span>
                            <h5 class="description-header">@Model.DepremDashboard.Sum(x => x.MevcutKisi + x.CikanKisi).ToString()</h5>

                        </div>
                        <!-- /.description-block -->
                    </div>
                </div>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>

}